body{
	background-color: #272727;
	color: White;
}

#sections{
	padding-top: 35px;
	max-width: 700px;
	margin: auto;
}

#articles{
	padding-top: 5px;
	padding-bottom: 5px;
	max-width: 700px;
	margin: auto;
}

#page_anchor{
	margin-top: 5px;
	max-width: 700px;
	margin: auto;
}

.posts{
	background-color: #484747;
	border: 1px solid black;
	border-radius:2px;
}

.posts:hover{
	background-color: #403E3E;
	cursor: pointer;
}

.posts:active{
	background-color: #010101;
}

button.pages{
	outline:none;
	background-color: #272727;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 5px 8px;
	margin: 0px;
}

button.page_selected{
	background-color: #403E3E;
	text-decoration: underline;
}

button.pages:hover{
	cursor: pointer;
}

button.sections{
  display: inline-block;
  padding: 2px 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  margin: 5px;
}

button.sections:hover {
	background-color: #3e8e41
}

button.sections:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
