body{
	background-color: #272727;
	color: White;
}

ul{
	overflow: auto;
	list-style-type: none;
	background-color: black;
	max-width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding-left: 10px;
	padding-right: 10px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

li{
	text-align: center;
	margin: 15px;
}

button{
  border-radius: 5px;
  max-width: 200px;
}
