body{
	background-image: url('../img/index_background.jpg');
	background-size: cover;
}

@media only screen and (max-width: 768px) {
body{
	background-image: url('../img/index_background2.jpg');
	background-size: cover;
}

}
