div#nav{
	position: fixed;
	padding:0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow: auto;
	background-color: #1D1C1C;
}

button.menu_btn{
	outline:none;
	background-color: #1D1C1C;
	border: none;
	color: white;
	float: left;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 10px 5px;
	margin: 0px;
	font-size: 16px;
	transition-duration: 0.4s;
}

button.menu_btn:hover{
	background-color: #272727;
}

button.menu_btn:active{
	background-color: #010101;
}

button.menu_btn button.active{
	background-color: #010101;
}

button.float-right{
	float: right;
}
