body{
	height: 100%;
	background-color: #272727;
	color: White;
}

html{
	height: 90%;
}

#post{
	overflow-y: auto;
	height: 100%;
	float:left;
	background-color: #484747;
	width: 80%;
}

#comment_board{
	margin-left: 10px;
	width: calc(20% - 20px);
	float:left;
	height: 100%;
}

#comments{
	background-color:  #484747;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-y: auto;
	height: calc(100% - 120px);
}

@media only screen and (max-width: 768px) {
#post{
	width: 100%;
	margin-bottom: 10px;
}

#comment_board{
	margin: 0px;
	width: 100%;
}
}

textarea{
	margin: 5px;
	overflow: auto;
	width: 100%;
	height: 60px;
}

button{
  float: right;
  border-radius: 5px;
  margin: 3px;
}

span{
	text-decoration: underline;
	padding: 5px;
}
