body{
	height:95%;
	background-color: #272727;
	color: White;
}

html{
	height:100%;
}

img{
	margin-right: 10px;
}

ul{
	max-width: 700px;
	background-color: black;
	height:100%;
	position: relative;
	top: 50%;
	left: 50%;
	padding-left: 10px;
	padding-right: 10px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	list-style-type: none;
}


li{
	margin: 15px;
	max-width: 1000px;
}

button{
  border-radius: 5px;
  margin: 5px;
}

#title{
	overflow: auto;
	width: calc(100% - 50px);
	margin: 5px;
}

textarea{
	overflow: auto;
	width: 100%;
	height: 600px;
}
